---
wildfly-configuration:
  subsystem:
    datasources:
      jdbc-driver:
        postgresql:
          driver-name: postgresql
          driver-xa-datasource-class-name: org.postgresql.xa.PGXADataSource
          driver-module-name: org.postgresql
      data-source:
          AddressBookDS:
            enabled: true
            jndi-name: java:jboss/datasources/AddressbookDS
            jta: true
            max-pool-size: 20
            min-pool-size: 2
            connection-url: "jdbc:postgresql://localhost/test"
            driver-name: postgresql
            user-name: addressbook
            password: addressbookpass
            validate-on-match: true
            background-validation: false
            background-validation-millis: 10000
            flush-strategy: FailingConnectionOnly
            transaction-isolation: TRANSACTION_READ_COMMITTED
